@model Person

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        
        @if (!string.IsNullOrWhiteSpace(Model.Email))
        {
            <p class="card-text">Contact: <a href="mailto:@Model.Email">Send email</a></p>
        }
    </div>
</div>